/* ----------- Throuhout the page --------- */

.fading-hr-black-sub-header {
    margin: 30px 0;
    height: 2px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, black));
}

.fading-hr-black {
  margin: 30px 0;
  height: 2px;
  border: none;
  background: linear-gradient(to right, black, white);
}

.horizontal-fcontainer {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: nowrap;
align-items: center;
}

.centered {
  text-align: center;
}

.below-navbar{
  position: relative;
  top: 75px;
}

.left-shift {
  position: relative;
  right: 10px;
}

.default {

}

/* ----- End: Throughout the page ----- */




/* ----------- Specific parts --------- */

/* header */

.h2-bold {
  font-weight: bold;
  display: inline-block;
  }

.h2-inline {
  display: inline-block;
}




/* sub header */
.vertical-fcontainer-2-2 {
display: flex;
flex-direction: column;
justify-content: space-around;
flex-wrap: nowrap;
align-items: center;
flex: 1;
max-width: 450px;
}

.vertical-fcontainer-2-2 div{
  max-width: 450px;
}

.vertical-fcontainer-2-2 img{
  width: 100%;
  max-width: 300px;
}


/* sub header */
.vertical-fcontainer-3 {
display: flex;
flex-direction: column;
justify-content: space-around;
flex-wrap: nowrap;
align-items: center;
flex: 1;
max-width: 300px;
}

.vertical-fcontainer-3 div{
  max-width: 300px;
}

.vertical-fcontainer-3 img{
  width: 100%;
  max-width: 300px;
}




/* additional topics */
.vertical-fcontainer-2 {
display: flex;
flex-direction: column;
justify-content: space-between;
flex-wrap: nowrap;
align-items: center;
flex: 1.5;
}

.vertical-fcontainer-2 img {
  width:100%;
  max-width:600px;

}





/* ----- End: specific parts ----- */


/* ---------- Programming aid ---------- */
/*
img {
  border: 1px solid black;
}

div {
  border: black 1px dotted;
}
